service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{document=**} {
      allow read;
      allow write: if request.resource.data.size() == 3
        && request.resource.data.keys().hasAll([
            "author",
            "content",
            "createdAt"
          ])
        && request.resource.data.author is string
        && request.resource.data.content is string
        && request.resource.data.createdAt is timestamp;
    }
  }
}
